h1 {
    background-color: white;
    text-align: center;
    padding: 30px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
    font-family: Arial;
    font-weight: bolder;
    border-radius: 0px 0px 5px 5px;
}
.fa-facebook{
    color: #0336FF;
    position: relative;
    margin-left: 60%;
}
.fa-instagram, .fa-twitter{
    color: #0336FF;
    position: relative;
    margin-left: 2%;
}
body{
    background-color: #0336FF;
}

table{
    margin-left: 10px ;
    margin-right: 10px;
    background-color: white ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
td{
    border-bottom: 1px solid;
    text-align: center;
    padding: 12px;
}

th{
    color: white;
    background-color: #0D47A1;
    font-size: large;
    font-family: Geneva, serif;
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid;
}

.order_form{
    position: absolute;
    right: 1%;
}

.ask_link{
    color: black;
    text-align: center;
    padding: 20px;
}
div{
    display: inline-block;
    color: white;
}
mark{
    color:white;
    background-color: #0336FF;
    border-radius: 5px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #faf1b9 5%, #ffab23 100%);
	background-color:#faf1b9;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color: black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
    text-decoration-color: black  ;
	padding:6px 45px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    position: relative;
    left: 22.7%;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #faf1b9 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}
 .fa-pencil-alt{
     color: #0336FF;
 }