body{
    background-color: #1EAE98;
}
table{
    color:black;
    border-bottom:3px solid white;
    border-top: 1px solid white;
    background-color: whitesmoke;
    margin-left: 30px;
    margin-bottom: 10px;
    width: 50%;
    border-radius: 5px;
}
h1 {
    background-color: black;
    padding: 30px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
    font-family: Arial;
    font-weight: bolder;
    border-radius: 0px 0px 5px 5px;
    position: relative;
}
mark{
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: .2em;
}
.fa-facebook{
    color: blue;
    position: relative;
    margin-left: 60%;
}
.fa-instagram, .fa-twitter{
    color: blue;
    position: relative;
    margin-left: 2%;
}
.buttons{
    color:blue;
}
h3{
    background-color: white;
    color: black;
    border-radius: 5px;
    margin: 30px;
}
p.a{
    text-indent: 10px;
    margin-left: 10px;
}
p.b{
    text-indent: 30px;
}

.comm_link{
    margin-left: 30px;
    color: white;
}
.ans_link{
    color: white;
}
.quest_link{
    color: white;
}
.comm_quest_link{
    color: white;
    margin-left: 30px;
}

