body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
    background-color: black;
    color: white;
}
table{
    border-bottom:3px solid white;
    border-top: 1px solid white;
    width: 100%;
    background-color: #272927;
}
h1 {
    color: black;
    background-color: orange;
    text-align: center;
    padding: 30px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 60px;
    font-family: Arial;
    font-weight: bolder;
    border-radius: 0px 0px 5px 5px;
    margin-top: 0px;
}
mark{
    color:orange;
    background-color: black;
    border-radius: 5px;
    padding: .2em;
}
.fa-facebook{
    color: black;
    position: relative;
    margin-left: 60%;
}
.fa-instagram, .fa-twitter{
    color: black;
    position: relative;
    margin-left: 2%;
}
.buttons{
    color:orange;
}
h3{
    background-color: orange;
    color: black;
    border-radius: 5px;
    margin: 5px;
}
p.a{
    text-indent: 10px;
    margin-left: 10px;
}
p.b{
    text-indent: 30px;
}

.comm_link{
    margin-left: 30px;
    color: orange;
}
.ans_link{
    color: orange;
}
.quest_link{
    color: orange;
}
.comm_quest_link{
    color: orange;
    margin-left: 30px;
}

