<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form action="/add_question" method="POST"><br><br><br>
        Title of the new question:<br>
        <input type="text" name="title">
        <br><br>
        Message:<br>
        <textarea type="text" name="message" rows="4" cols="50"></textarea>
        <br><br>
        <input
            style="transition-duration: 0.4s; background-color: black; color: white; border-radius: 12px; font-size: 16px"
            type="submit" value="Submit">
    </form>

</body>

</html>