<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit answer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
    <body class="bg-primary">
        <div style="text-align: center">
            <p class="h1">Edit answer</p><br><br><br>
<form action="/answer/{{answer_id}}/edit" method="POST">
                <textarea type="text" name="message" rows="5" cols="50">{% for message in answers: %}{% if answer_id| int == message['id']| int %}{{message['message']}}{% endif %}{% endfor %}</textarea><br><br>
                <input type="submit" value="Submit" />
            </form>

</body>
</html>