<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit comment</title>
    <link rel="stylesheet" href="static/form_page.css">
</head>
<div class="card-header" style="background-color: #1C738B">
    <h1>AskMate</h1>
</div><br><br>
    <body style="background-color: #1EAE98;">
        <div style="text-align: center">
            <p class="h1">Edit comment</p><br><br><br>
<form action="/comment/{{comment_id}}/edit" method="POST">
                <textarea type="text" name="message" rows="5" cols="50">{% for message in comments: %}{% if comment_id| int == message['id']| int %}{{message['message']}}{% endif %}{% endfor %}
                </textarea><br><br>
                <input type="submit" value="Submit" />
            </form>

</body>
</html>