<!DOCTYPE html>

<head>
    <title>Home | Question List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="static/login_form.css">
</head>
 <h1><a style="color: #0336FF ; text-decoration: none" href="/"> Ask<mark>mate</mark> </a>
 <i class="fab fa-facebook";></i>
 <i class="fab fa-instagram"></i>
 <i class="fab fa-twitter"></i></h1>

    <div>
        {%if username != ""%}
        <a href="/user/{{user_id}}">{{username}}</a>
        {%endif%}
    </div>
    <div>
        <form style="margin-left: 10px" class="search_form" action="/search" method="GET">
            <input style="width: 300px" type="text" name="phrase">
            <input type="submit" value="Search" />
        </form>
    </div>
<button class="myButton">
   <i class="fas fa-pencil-alt"></i><a href="/add_question"><strong>Ask your question</strong></a>
</button>

    <div>
        <form class="order_form" action="/" method="POST">Sort by:
        <select id="order" name="order">
            <option value="submission_time">Submission time</option>
            <option value="view_number">View number</option>
            <option value="vote_number">Vote number</option>
            <option value="title">Title</option>
            <option value="message">Message</option>
        </select>
        <input type="submit" value="Sort" />
    </form>
    </div>
<h2 align="center" style="color: #ffffff; margin-top: 10px"><strong>QUESTIONS</strong></h2>
    <table>
        <tr>
            <th>ID</th>
            <th style="width: 150px">Submission Time</th>
            <th>View Number</th>
            <th>Vote Number</th>
            <th style="width: 250px">Title</th>
            <th>Message</th>
            <th>User</th>
        </tr>
        <tbody>
            {% for dictionar in table_elements: %}
            <tr>
                <td>{{dictionar['id']}}</td>
                <td>{{dictionar['submission_time']}}</td>
                <td>{{dictionar['view_number']}}</td>
                <td>{{dictionar['vote_number']}}</td>
                <td>
                    <div>
                                <a style="color: #0D47A1"  href="/question/{{dictionar['id']}}/vote-up"><i class="fas fa-thumbs-up"></i></a>
                        </div>
                        <div>
                            <a  href="/question/{{dictionar['id']}}">
                                {% if search_phrase == Null or search_phrase=="": %}
                                    {{dictionar['title']}}
                                {% else: %}
                                    {{dictionar['title'].replace(search_phrase, '<mark style="background-color: #0336FF">'+search_phrase+'</mark>')|safe}}
                                {% endif %}
                                </a>
                        </div>
                        <div>
                                <a style="color: #0D47A1" href="/question/{{dictionar['id']}}/vote-down"><i class="fas fa-thumbs-down"></i></a>
                        </div>
                    </div>
                </td>
                <td>{% if search_phrase == Null or search_phrase=="": %}
                                    {{dictionar['message']}}
                                {% else: %}
                                    {{dictionar['message'].replace(search_phrase, '<mark style="background-color: #0336FF">'+search_phrase+'</mark>')|safe}}
                                {% endif %}</td>
                <td>{{dictionar['username']}}</td>
            {% endfor%}
        </tbody>
    </table>
    {%if username != NULL%}
        <a href="/logout"><button class="myButton">Logout</button></a>
    {%else%}
        <a style="color: white" href="/registration"> Register</a>
        <button class="myButton" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button>
    {%endif%}
    <div id="id01" class="modal">
  <form class="modal-content animate" action="/login" method="post">
    <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/image/login.png" alt="Avatar" class="avatar">
    </div>

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button class="myButton" type="submit">Login</button>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    </div>
  </form>
</div>

<script>
// Get the modal
    var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
            }
        }
</script>
<a style="color: white" href="/users_list">Show Users</a>
</body>

</html>