<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add answer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/form_page.css">
</head>
<div class="card-header" style="background-color: #1C738B">
    <h1>AskMate</h1>
</div><br><br>
    <body style="background-color: #1EAE98;">
        <div style="text-align: center">
            <p class="h1">Add an answer</p><br><br><br>
            <form action="/question/{{question_id}}/new-answer" method="POST">

                <textarea type="text" name="message" rows="5" cols="50"></textarea><br><br>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>