<!DOCTYPE html>
<html lang="en">
<head>
    <title>Question</title>
<style>
table {
  width: 100%;
    background-color: lightblue;
}

td, th {
  border: 2px solid;
    border-color: cornflowerblue;
  text-align: center;
  padding: 8px;
    color: black;
}
    th{
        background-color: #177199;
        font-size: large;
        font-family:Geneva, serif;
    }

</style>
</head>
<body>
    <table>
        <tr>
            <th>Title</th>
            <td>{{question_elements[0][0]}}</td>
        </tr>
        <tr>
            <th>Message</th>
            <td>{{question_elements[1][0]}}</td>
        </tr>
        <tr>
            <th> Answers </th>
            <td>
            {% for answers in answer_elements:%}
                <strong>Answer:</strong>{{answers}}<br>
            {% endfor %}
            </td>
        </tr>
    </table>
    <a href="/question/{{question_id}}/new-answer">Answer the question</a>
    <a href="/question/{{question_id}}/delete" methods="GET"> Delete this question </a>
</body>
</html>