<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
  width: 100%;
    background-color: blanchedalmond;
}

td, th {
  border: 2px solid;
    border-color: darkgoldenrod;
  text-align: center;
  padding: 8px;
    color: black;
}
    th{
        background-color: darksalmon;
        font-size: large;
        font-family:Geneva, serif;
    }
</style>
</head>
<body>
    <table>
        <tc>
            <th>
                Title
            </th>
            <tr>
                <td>{{question_elements[0][0]}}</td><br>
            </tr>

            <th>
                Message
            </th>
            <tr>
                <td>{{question_elements[1][0]}}</td><br>
            </tr>
            <th>
                Answers
            </th>
            <tr>
                {% for answers in answer_elements:%}
                    <td>{{answers}}</td><br>
            </tr>
                {% endfor %}
        </tc>

    </table>
</body>
</html>