<!DOCTYPE html>
<html lang="en">

<head>
    <title>Question</title>
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/question.css" type="text/css">
</head>
<body>
    <h1><a  style="text-decoration: none; color: black" href="/"> Ask<mark>mate</mark> </a>
    <i class="fab fa-facebook";></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-twitter"></i></h1>
    <h2>Question {{question_id}}</h2><br>
    <div class="header">
        <h2>
            <a class="quest_link" href="/question/{{question_id}}/new-answer">Answer the question</a><br>
            <a class="quest_link" href="/question/{{question_id}}/new-comment">Add a comment</a><br>
            <a class="quest_link" href="/question/{{question_id}}/delete" onclick="return confirm('Are you sure you want to delete this item?');">Delete this question</a>
        </h2><br>
     </div>
        <div>
            <h3>
            <p><strong>{{question_elements[0]['title']}}</strong></p>
            <p>{{question_elements[0]['submission_time']}} Votes: {{question_elements[0]['vote_number']}}</p>
            </h3>
            <p>Message:</p>
            <p class="a">{{question_elements[0]['message']}}</p>
            Answers:<br>

            {% for answers in answer_elements: %}
            {% if question_id|int == answers["question_id"]|int: %}
            <table>
            <tr>
                <td><strong>{{answers['username']}}</strong><br>
                    {{answers["message"]}}
                    <p>
                        <a class="buttons" href="/answer/{{answers['id']}}/{{question_id}}/vote_up"><i class="far fa-thumbs-up"></i></a>
                        Vote number: {{answers['vote_number']}}
                        <a class="buttons" href="/answer/{{answers['id']}}/{{question_id}}/vote_down"><i class="far fa-thumbs-down"></i></a>
                    </p>
                    <p><a class="ans_link" href="/answer/{{answers['id']}}/edit"><i class="fas fa-pencil-alt"></i> Edit answer</a><br><br>
                    <a class="quest_link" href="/answer/{{answers['id']}}/new-comment"><i class="fas fa-plus-square"></i> Add Comment</a><br></p>
                    <strong>Comments:</strong><br>
                    {% for comm in comments: %}
                          {% if answers['id']| int == comm['answer_id']| int %}
                                <p class="b">{{comm["username"]}}</p>
                                <p class="b">{{comm["submission_time"]}}</p>
                                <p class="b">{{comm["message"]}}</p>
                                <a class="comm_link" href="/comments/{{comm['id']}}/delete" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fas fa-trash-alt"></i></a>
                                <a class="comm_link" href="/comment/{{comm['id']}}/edit"><i class="fas fa-pencil-alt"></i> Edit comment</a>
                         {% endif %}
                        {% endfor %}

                </td>
            </tr>
                {% endif %}
                {% endfor %}
            </table>
            <br><br>
            <div><strong>Question comments: </strong></div>
            {% for comment in comments: %}
                {% if question_id|int == comment["question_id"]: %}
                    <p>{{comment ["username"]}}</p>
                    <p>{{comment["submission_time"]}}</p>
                    <p class="b">{{comment["message"]}}</p>
                    <a class="comm_quest_link" href="/comments/{{comment['id']}}/delete" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fas fa-trash-alt"></i></a>
                    <a class="comm_quest_link" href="/comment/{{comment['id']}}/edit"> Edit comment</a><br>
            {% endif %}
            {% endfor %}
            </div>


</body>

</html>

